@use '../base/reset';

#about {
    background-color: reset.$bg-light;
    border-bottom: reset.$section-border;
}

.about-title-homepage {
    border-left: 8px solid reset.$color-brand-light;
    span {
        color: reset.$color-brand;
    }
}


.about-photo-container {
    height: inherit;
    overflow: hidden;
    background: {
        image: url(../assets/images/BarkerLiftHeavyAbout.jpg);
        size: cover;
        repeat: no-repeat;
    }
    clip-path: url(#myPolygonClip);
}

#values-section {
    background-color: reset.$bg-brand;
    border-bottom: reset.$section-border;
}

#embark-section {
    background-color: reset.$bg-light;
    border-bottom: reset.$section-border;
}

.values-container {
    margin: 30px 0;
    height: 100%;
}

.accessible,
.inclusive,
.purposeful {
    padding: 50px 0;
    border-top: 4px solid reset.$color-brand;
    border-bottom: 4px solid reset.$color-brand;
}

.value {
    text-align: center;
    min-height: 30rem;
    min-width: 24rem;
    max-width: 30rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3rem;
}

.accessible-image {
    background: {
        image: url(../assets/images/Bandsuse.jpg);
        size: cover;
        position: cover;
        repeat: no-repeat;
    }
    min-height: 30rem;
} 
.inclusive-image {
    background: {
        image: url(../assets/images/Athletesuse.jpg);
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    min-height: 30rem;
}
.purposeful-image {
    background: {
        image: url(../assets/images/USAWeightliftinguse.jpg);
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    min-height: 30rem;
}

.step {
    .icon {
        color: transparent; 
        -webkit-text-stroke: 2px reset.$color-brand-dark;
    }
}


#carousel {
    background-color: reset.$bg-brand; 
    border-bottom: reset.$section-border;
}


// MEDIA QUERIES

@media only screen and (max-width: 1200px) {
    .about-photo-container {
        height: 400px;
        clip-path: none;
    }
}

@media only screen and (max-width: 992px) {
    .testimonial-attribute {
        flex-direction: column;
    }
    .embark-steps {
        .vertical-line,
        .vr {
            display: none !important;
        }
    }
    .step {
        padding: 0px 50px;
        margin: 20px 0;
    }
    .accessible-image,
    .inclusive-image,
    .purposeful-image {
        max-width: 30rem;
        min-height: 20rem;
    }

    .value {
        min-height: 18rem;
        min-width: 20rem;
    }

    .value-two {
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: 380px) {
    .about-title-homepage {
        padding-left: 15px !important;
        h1 {
            font-size: 1.9rem;
        }
        p {
            font-size: 1.2rem !important;
        }
    }

    .about-info-container {
        p {
            font-size: 1.2rem !important;
        }
    }
}