@use '../base/reset';

.title-homepage {
    color: rgba(255, 255, 255, 0.8) !important;
    z-index: 10;
    position: relative;
}

#body-homepage {
    position: relative;
    background: {
        image: url(../assets/images/GymHero.jpg);
        position: center;
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -10;
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease-out; /* Smooth transition for the opacity change */
}


.values-container {
    margin: 30px 0;
    height: 100%;
    color: white;
    z-index: 10;
    position: relative;
}

.accessible,
.inclusive,
.purposeful {
    padding: 50px 0;
    border-top: 4px solid reset.$color-brand-light;
    border-bottom: 4px solid reset.$color-brand-light;
    p {
        font-size: 1.1rem;
    }
}

.value {
    text-align: center;
    min-height: 30rem;
    min-width: 24rem;
    max-width: 30rem;
    background-color: transparent;
    padding: 3rem;
}

.accessible-image {
    background: {
        image: url(../assets/images/Bandsuse.jpg);
        size: cover;
        position: cover;
        repeat: no-repeat;
    }
    min-height: 30rem;
} 
.inclusive-image {
    background: {
        image: url(../assets/images/Athletesuse.jpg);
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    min-height: 30rem;
}
.purposeful-image {
    background: {
        image: url(../assets/images/Podium2use.JPG);
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    min-height: 30rem;
}

.embark-steps {
    color: white;
    z-index: 10;
    position: relative;
}

.step {
    .icon {
        color: transparent; 
        -webkit-text-stroke: 2px reset.$color-brand-light;
    }
}

.testimonial-attribute {
    flex-direction: column;
}


// MEDIA QUERIES

@media only screen and (max-width: 992px) {
    .embark-steps {
        .vertical-line,
        .vr {
            display: none !important;
        }
    }
    .step {
        padding: 0px 50px;
        margin: 20px 0;
    }
    .accessible-image,
    .inclusive-image,
    .purposeful-image {
        max-width: 30rem;
        min-height: 20rem;
    }

    .value {
        min-height: 18rem;
        min-width: 20rem;
    }

    .value-two {
        flex-wrap: wrap-reverse;
    }
}
