@use '../base/reset';

#social-section {
    background-color:  reset.$bg-light;
    border-bottom: 2px solid black;
}

body .display-default {
    text-wrap: auto;
}

.sk-twitch-channel-videos-counts-container {
    padding-left: 1.5rem;
}

.sk_twitch_channel_white_pop_up {
    margin: 10% 0 !important;
    padding: 25px 0 !important;
}