@use '../base/reset';

// BUTTONS 

.btn {
    margin: 20px;
    text-transform: uppercase;
    padding: 10px 24px;
    border-radius: 0;
    color: white;
}


.btn-brand {
    background-color: reset.$color-brand;
    border: 2px solid transparent;
    &:hover {
        background-color: reset.$color-brand-dark;
        border: 2px solid white;
        color: white;
    }
    &:active {
        background-color: reset.$color-brand-light;
        color: white;
        transform: translate(2px, 2px);
    }
}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    &:hover {
        background-color: rgba(0,0,0, 0.3);
        border: 2px solid reset.$color-brand-secondary;
        color: white;
    }
}
