@use '../base/reset';


.carousel-inner {
    border: 2px solid black; 
    background-color: rgb(191, 122, 240, 0.2);
}

.carousel-item {
    color: white;
    text-align: center;
    padding: 10px 50px;
    h4 {
        max-width: 1000px;
        justify-self: center;
    }
}

.carousel-control-prev, .carousel-control-next {
    width: 20%;
}