@use '../base/reset';


.carousel-inner {
    color:#850FD1;
}

.carousel-item {
    color: white;
    text-align: center;
    padding: 10px 50px;
    font-size: 1rem;
    h4 {
        max-width: 1000px;
        justify-self: center;
    }
}

.bi-quote {
    color: transparent; 
    -webkit-text-stroke: 2px reset.$color-brand-light;
}

.carousel-control-prev, .carousel-control-next {
    width: 30%;
    color: white;
}

@media only screen and (max-width: 400px) {
    .carousel-control-prev, .carousel-control-next {
        width: 20%;
    }
}