// COLORS
$color-brand:#850FD1;
$color-brand-light: rgb(191, 122, 240);
$color-brand-dark: #670ba5;
$color-brand-secondary: rgb(243, 174, 0);
$nav-link-color: white;
$bg-light: #f1f1f1;
/*$bg-brand: rgb(107, 20, 161);*/
/* $bg-brand: rgb(136, 78, 170); */
/*$bg-brand:rgba(107, 20, 161, 0.65);*/
$bg-brand: rgb(191, 122, 240);
$section-border: 2px solid black;

$transition: all 0.5s ease;
