#hero {
    height: 100vh;
    margin-top: -75px;
    background: {
        image: url(../assets/images/GymHero.jpg);
        position: center;
        repeat: no-repeat;
        size: cover;
    }
}

.hero-logo {
    max-width: 100%;
    height: auto;
}

.hero-btn {
    .btn {
        width: 45%;
    }
}


@media only screen and (max-width: 1200px) {
    .hero-btn {
        flex-direction: column;
        .btn {
            min-width: 90%;
            margin: 20px 10px;
        }
    }  
}
