#hero {
    max-height: 100vh;
    background: {
        image: url(../assets/images/GymHero.jpg);
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    overflow: auto;
}

.hero-text {
    max-height: 50vh;
    width: auto;
}

.hero-logo {
    max-width: 100%;
    height: auto;
}

.hero-btn {
    .btn {
        width: 45%;
    }
}


@media only screen and (max-width: 1200px) {
    .hero-btn {
        flex-direction: column;
        .btn {
            min-width: 90%;
            margin: 20px 10px;
        }
    }  
}

@media only screen and (max-height: 825px) {
    #hero {
        height: 110vh;
    }
}
